<%- model_class = Sale -%>
<div class="page-header">
  <h1>Vendas</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>CPF do vendedor</th>
      <th>CNPJ do cliente</th>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Produtos</th>
      <th>Quantidade</th>
      <th>Venda efetuada em</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.cpfSalesman %></td>
        <td><%= sale.cnpjClient %></td>
        <td><%= sale.nameClient %></td>
        <td><%= sale.addressClient %></td>
        <td><%= sale.productId %></td>
        <td><%= sale.quantity %></td>
        <td><%= sale.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_sale_path(sale), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      sale_path(sale),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sale_path,
            :class => 'btn btn-primary' %>
